blockquote {
  background: var(--quote-background-color);
  border-left: 10px solid;
  border-color: var(--quote-border-color);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  transition: background-color 0.5 ease, border-color 0.5 ease;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  font-family: 'Dancing Script', cursive;
}

blockquote p cite {
  font-family: 'Lato', sans-serif;
}

blockquote footer {
  background-color: #fff;
  border-color: transparent;
  color: #7a7a7a;
  font-size: .85rem;
  font-style: normal;
  text-align: left;
  padding: 0;
}
