html {
  --light: #d8dbe0;
  --dark: #28292c;
}

html, html[data-theme="light"] {
  --header-color: #{$header-color};
  --nav-color: #{$nav-color};
  --link-color: #{$link-color};
  --link-hover-color: #{$link-hover-color};
  --link-text-shadow: white 1px 0px 0px, white -1px 0px 0px;
  --background-color: #{$white};
  --text-color: #{$text-color};
  --footer-border-top: #{$footer-border-top};
  --footer-color: #{$footer-bg-color};
  --post-title-color: #{$post-title-color};
  --quote-border-color: #{$quote-border-color};
  --quote-background-color: #{$quote-background-color};
}

html[data-theme="dark"] {
  --header-color: #{$header-dark-mode-color};
  --nav-color: #{$nav-dark-mode-color};
  --link-color: #{$link-dark-mode-color};
  --link-hover-color: #616e7c;
  --link-text-shadow: none;
  --background-color: #{$darkmode-dark-grey};
  --text-color: #{$white};
  --footer-color: #{$footer-bg-dark-mode-color};
  --footer-border-top: #{$footer-dark-mode-border-top};
  --post-title-color: #{$post-title-dark-mode-color};
  --quote-border-color: #{$quote-dark-mode-border-color};
  --quote-background-color: #{$quote-dark-mode-background-color};
}

body {
  transition: background-color 0.5s ease, color 0.5s ease, text-shadow 0.5s ease;
}

@media (prefers-color-scheme: dark) {
  html[data-theme="dark"] {
    --header-color: #{$header-dark-mode-color};
    --nav-color: #{$nav-dark-mode-color};
    --link-color: #{$link-dark-mode-color};
    --link-hover-color: #616e7c;
    --link-text-shadow: none;
    --background-color: #{$darkmode-dark-grey};
    --text-color: #{$white};
    --footer-border-top: #{$footer-dark-mode-border-top};
    --footer-color: #{$footer-bg-dark-mode-color};
    --post-title-color: #{$post-title-dark-mode-color};
    --quote-border-color: #{$quote-dark-mode-border-color};
    --quote-background-color: #{$quote-dark-mode-background-color};
  }
}

.dark-mode-toggle {
  width: 100%;
  height: 30px;
  padding: 0.5em 0 0 0;
  direction: rtl;
}

.toggle-container {
  .toggle-switch {
    position: relative;
    width: 60px;

    label {
      display: block;
      width: 100%;
      height: 30px;
      background-color: var(--dark);
      border-radius: 50px;
      cursor: pointer;
    }

    input {
      position: absolute;
      display: none;
    }

    .slider {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50px;
      transition: 0.3s;
    }

    input:checked~.slider {
      background-color: var(--light);
    }

    .slider::before {
      content: "";
      position: absolute;
      top: 3.8px;
      left: 4.8px;
      width: 22.5px;
      height: 22.5px;
      border-radius: 50%;
      box-shadow: inset 8.4px -1.2px 0px 0px var(--light);
      background-color: var(--dark);
      transition: 0.3s;
    }

    input:checked~.slider::before {
      transform: translateX(28.5px);
      background-color: var(--dark);
      box-shadow: none;
    }
  }
}